<span class="mapping-buttons">
  <button class="btn btn-link btn-small cancel-mapping">{{ i18n 'csv.file_import.mapping.cancel' }}</button>
  <button class="btn btn-primary btn-small add-edge" disabled>{{ i18n 'csv.file_import.mapping.save' }}</button>
</span>

<div class="selector"></div>
<div class="visibility"></div>
