<div class="com-visallo-structuredFile-text-table">
  <div class="buttons">
    <button class="btn btn-default btn-small">{{ i18n 'csv.file_import.mapping.button' }}</button>
  </div>
  <div class="table">{{ i18n 'csv.file_import.mapping.loading' }}</div>
</div>
