<div class="offline-overlay">
  <div>
    <h1>{{ i18n 'visallo.session_expiration_overlay.header' }}</h1>
    <p>{{ i18n 'visallo.session_expiration_overlay.subheader' }}</p>
    <button class="session-continue">{{ i18n 'visallo.session_expiration_overlay.continue' }}</button>
  </div>
</div>
