<div class="timeline-svg-container">
</div>
<div class="timeline-controls">
  <button class="btn btn-small timeline-fit" style="text-transform: uppercase;">{{ i18n 'timeline.fit' }}</button>
  <button class="btn btn-small timeline-config"></button>
</div>